body {
    background-color: #8A8C8E;
}

#main {
    width: 900px;
    background-color: #EBEBEC;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    box-shadow: 0px 4px 30px #222;
    -moz-box-shadow: 0px 4px 30px #222;
    -webkit-box-shadow: 0px 4px 30px #222;
}

.nav ul {
    list-style-type: none;
}

.nav {
    display: inline-block;
    float: left;
    height: 400px;
    width: 186px;
    font: 40px/60px 'CabinRegular', Arial, sans-serif;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    font: 40px/60px 'CabinBoldItalic', Arial, sans-serif;
}

.content {
    display: inline-block;
    width: 600px;
    min-height: 400px;
    font:14px 'ColaborateThinRegular', Arial, sans-serif;
    padding-left: 60px;
}

#nav .active {
    font: 40px/60px 'CabinBoldItalic', Arial, sans-serif;
}

#nav {
    padding-right: 30px;
    border-right: 2px solid #646464;
}

#footer {
    text-align: center;
    padding-top: 13px;
    font: 14px/14px 'ColaborateLightRegular', Arial, sans-serif;
}

#footer a {
    text-decoration: none;
    color: black;
}

.main-post a {
    text-decoration: none;
    color: black;
}

.main-post h3 {
    font: 22px/22px 'CabinBold', Arial, sans-serif;
}


.blog-heading {
    font: 22px/22px 'ColaborateThinRegular', Arial, sans-serif;
}

.post-heading {
    font: 22px/22px 'CabinBold', Arial, sans-serif;
}

.post .title {
    margin-bottom: -10px;
    font: 14px 'CabinBold', Arial, sans-serif;
}

.post .title a {
    text-decoration: underline;
    color: black;
}

.post-content {
    font:14px 'ColaborateThinRegular', Arial, sans-serif;
}

.crumb-title {
    font: 12px 'CabinRegular', Arial, sans-serif;
}

.crumb-title a {
    color: black;
}

.content-p {
    padding-left: 20px;
    font:16px 'ColaborateThinRegular', Arial, sans-serif;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
